body{
    background-image:url("../jpg/cat1.jpg") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
*{
    font: 16px "楷体";
}
.f1 input:first-child{
   width: 40px;

}
.div1 span a,.div2 span a{
    font: 20px "楷体";
    color: gray;
    text-decoration: none;
}
.div1 span a:hover,.div2 span a:hover{
    color: red;
}
.div1{
    float: left;
}
.div2{
    float: right;
}
.div3{
    font: 30px "楷体";
    margin-top: 30px;
    margin-left: 120px;
}
td{
    align: center;
    text-align: center;
    vertical-align: middle;
}
.div3,.div4{
    margin-left: 60px;
}
.div4 span,.div4 span a{
    font: 15px "楷体";
}
.div4 form{
    display: inline;
}
.div4{
    margin-top: 50px;
    margin-left: 120px;
}
#commentx{
    margin-top: 50px;
}